footer{
    min-height: 40vh;
    background-color: #2C3E50;
    width: 100%;
}
.socilList{
    width: fit-content;
    
} 
.socilList i{
    border: solid 1px white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ufooter{
    height: 10vh;
    background-color: #1d2933;
   
    width: 100%;
}