<section>
    <div class="container pt-5">
        <div  class="home d-flex justify-content-center align-items-center text-white">
            <div class="text-center"><img _ngcontent-ng-c596633245="" src="./assets/images/home1.svg" alt="" class="w-75 mb-3">
                <div  class="pt-4"><h2 _ngcontent-ng-c596633245="" class="mb-3">START FRAMEWORK</h2>
                </div>
                <div class="d-flex justify-content-center align-items-center myicon position-relative mx-auto ">
                   
                    <i  class="fas fa-star me-3  ">

                    </i>
                   
                </div>
                <div  class="mt-3"> Graphic Artist - Web Designer - Illustrator 

                </div>
            </div>
        </div>
    </div>
</section>